.playvideo-container {
    width: 80%;
    height: 100%;
    background-color: #212121;
    
}

.real-video {
    position: relative;
    width: 100%;
    height:600px ;
    margin-top: 40px;
}
.iframe {
    width: 95%;
    height: 100%;
    position: absolute;
    left: 2%;
    right: 2%;
}
.title-channel {
    margin-top: 10px ;
    color: white;
    padding-left: 26px;
}

.title-channel h2 {
    font-size: 1.2rem;
    font-weight: bold;
}